@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Manrope:wght@200..800&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Outfit:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Nunito;
    font-size: 62.5%;
}

:root {
    --bg-color: #191f36;
    --main-color: #f49818;
    --snd-bg-color: #262b40;
}

body {
    background-color: var(--bg-color);
    height: auto;
}

.logo {
    font-size: 2.5rem;
    font-weight: 700;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 1rem;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 7rem 0 7rem;
    color: white;
    margin-bottom: 10rem;
    position: sticky;
    top: 0;
    background-color: var(--bg-color);
}

nav a {
    text-decoration: none;
    color: white;
    margin: 1rem;
    font-weight: 700;
    font-size: 1.5rem;
}

p {
    font-size: 1.6rem;
}

nav a:hover {
    color: var(--main-color);
}

nav :first-child {
    color: var(--main-color);
}

.top-icon {
    display: none;
    font-size: 2rem;
}

.top-content {
    display: flex;
    padding: 55px;
    margin-right: 20rem;
    padding-left: 0px;
    color: white;
    gap: 8rem;
    margin-bottom: 5rem;
    justify-content: center;
    font-weight: 700;
}

.top-content p {
    width: 700px;
    margin-bottom: 2rem;
    margin-top: 2rem;
}

.top-content h3 {
    margin-bottom: 1rem;
    font-size: 3.2rem;
}

.top-content h1 {
    margin-bottom: 1rem;
    font-size: 5.6rem;
}

.top-icons {
    margin-bottom: 2rem;

}
.top-icons i{
    transition: 0.5s ease;
}
.top-icons i:hover{
    box-shadow: 0px 0px 10px 2px var(--main-color);
}

span {
    font-size: 5.6rem;
}

.top-icons i {
    padding: 10px;
    font-size: 2rem;
    border-radius: 50%;
    border: solid var(--main-color);
    color: var(--main-color);
}

.top-content-img {
    background-color: aliceblue;
    width: 300px;
    height: 300px;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: mouvement 4s ease-in-out infinite alternate;
}

@keyframes mouvement {
    from {
        transform: translateY(10%);
    }

    to {
        transform: translateY(0);
    }
}

.bounceImage {
    width: 80%;
    height: 80%;
    border-radius: 50%;
  
}

.img-content-1 {
    position: relative;
    justify-content: end;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column-reverse;
    
      
}

.cont_3{
    position: absolute;
    opacity: 0;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.03) 35%, rgba(244, 152, 24, 1) 100%);
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
    border-radius: 15px;
    transition: 0.5s ease;


}

.cont_3:hover{
    opacity: 1.1;
    transform: scale(1.0)
}
.cont_3 i{
    font-size: 25px;
    color: #000;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    padding: 1.5rem 2.5rem;
    text-align: center;

}

.second-content {
    display: flex;
    background-color: var(--snd-bg-color);
    width: 100vw;
    justify-content: center;
    height: 600px;
    gap: 10rem;
    align-items: center;
}

.second-content-img {
    width: 400px;
    height: 400px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5% 50% 2% 2%;

}

.conteneur-img {
    width: 250px;
    height: 250px;
    background-color: #898fa166;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    position: relative;

}

.second-content-img img {
        border-radius: 50%;
}

.second-content-text {
    width: 55rem;
    color: #ffff;
}

.second-content h1 {
    font-size: 5.6rem;
}

.second-content-text span {
    color: rgb(255, 140, 0);
}

.second-content-text h3 {
    margin-bottom: 1.6rem;
}

h3 {
    font-size: 2.6rem;
    ;
}

.second-content-text p {
    margin-bottom: 2rem;
}

button,
input {
    font-size: 1rem;
    transition: 0.5s ease;
}
button:hover{
    box-shadow: 0px 0px 10px 2px var(--main-color);
}

.content-tree {
    display: flex;
    justify-content: center;
    color: #ffff;
    flex-direction: column;
    align-items: center;
    font-weight: 700;
}

.content-tree span {
    color: rgb(255, 140, 0);
}

.content-tree h1 {
    margin-top: 5rem;
    font-size: 5.6rem;
}

.card-conteneur {
    display: flex;
    justify-content: space-around;
    padding: 10rem;
    width: 1570px;
}

.card {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 30%;
    background-color: var(--snd-bg-color);
    padding: 4rem 1rem 4rem 1rem;
    border-radius: 15px;
    transition: 0.5s ease;

}

.card:hover {
    border: solid 2px var(--main-color);
    transform: scale(1.02);
    
}

.card i {
    font-size: 7rem;
    color: var(--main-color);
}

.card h3 {
    margin-bottom: 1rem;
}

.card p {
    margin-bottom: 1rem;
}


button {
    padding: 10px 2.5rem 10px 2.5rem;
    border-radius: 25px;
    background-color: var(--main-color);
    border: none;
    box-shadow: 0px 0px 10px 2px var(--main-color);
    font-weight: 600;
}

.img-content {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 0rem;
    flex-direction: column;
    color: #ffff;
    background-color: var(--snd-bg-color);
    ;
}

.img-content span {
    color: var(--main-color);
}

.img-content h1 {
    margin-top: 6rem;
    font-size: 5.6rem;
}

.imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    padding: 6rem;

    border-radius: 15px;
    padding-top: 3rem;


}

.imgs img {
    width: 100%;
    height: 310px;
    border-radius: 15px;
}

.contact-section {
    color: #ffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-section h1 {
    margin-top: 96px;
    font-size: 5.6rem;
}

.contact-section span {
    color: var(--main-color);
}

.Contact-content {
    display: flex;
    justify-content: space-around;
    padding: 8rem;
    gap: 2rem;

}

.maps iframe {
    border-radius: 20px;
}

.input-balise {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    gap: 1rem;
}

textarea {
    width: 500px;
    height: 300px;
    background-color: var(--snd-bg-color);
    border: none;
    border-radius: 8px;
    padding: 1rem;
}


.input1 {
    width: 500px;
    display: flex;

}

.input1 input {
    width: 240px;
    margin-inline: 6px;
    height: 2rem;
    padding: 1rem;
    background-color: var(--snd-bg-color);
    border-radius: 8px;
    border: none;
}

footer p {
    color: white;
}

footer {

    display: flex;
    background-color: var(--snd-bg-color);
    justify-content: space-between;
    width: 100vw;
    padding: 1rem 3rem 1rem 3rem;
}

footer i {
    font-size: 2.4rem;
    background-color: var(--main-color);
    padding: 2px;
    border-radius: 4px;
    transition: 0.5s ease;
}
footer i:hover{
    box-shadow: 0px 0px 10px 2px var(--main-color);
}

@media (max-width: 1024px) {
    body {
        min-width: 100vw;
    }

    .imgs {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
        padding: 6rem;
        border-radius: 15px;
        padding-top: 3rem;


    }

    .contact-section {
        width: 100%;
    }

    .second-content-img {
        width: 300px;
    }

    .second-content-text {
        width: 550px;
    }

    .Contact-content {
        width: 100%;
        padding: 2rem;
        justify-content: space-between;
    }

    .top-content-text {
        width: 400px;
    }
.top-content{
    margin-right: 0;
}
    .top-content-text p {
        width: 400px;
    }

    .card-conteneur {
        width: 1000px;
        padding: 4rem;
    }

    .maps {
        width: 10%;
    }

    iframe {
        width: 450%;
    }
}

@media (max-width: 768px) {
    header {
        padding: 0;
        padding: 1rem 3rem 1rem 3rem;
    }

    nav {
        display: none;
    }

    .top-icon {
        display: flex;

    }

    body {
        min-width: 786px;

    }

    div.top-content {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        padding: 0;
    }

    .top-content-img {
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .top-content-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .second-content {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 700px;
        padding: 2rem;
    }

    .second-content-text {
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .second-content-img {
        height: 350px;
    }

    .card-conteneur {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .card {
        width: 100%;
        margin: 2rem;
    }

    .imgs {
        flex-direction: column;
        grid-template-columns: repeat(1, 1fr);
        width: 730px;
        justify-content: center;
        align-items: center;
    }

    .Contact-content {
        flex-direction: column;
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .input1 {
        flex-direction: column;
        gap: 1rem;

    }

    .input1 input {
        width: 100%;
        margin: 0;
    }

    footer {
        width: 100%;
        flex-direction: column-reverse;
        justify-content: center;
        gap: 19px;
        align-items: center;
    }

    iframe {
        width: 500px;
    }

    .maps {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 425px) {

    .maps {
        width: 100%;
    }

}